@import '../../../../ui-library/styles/colors.module.scss';
@import '../../../../ui-library/styles/variables.module';

.orbit {
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(2px);
  animation: pulse 1s ease-in-out infinite alternate;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 20%, rgba($star, 1) 70%);
  box-shadow: 0 0 10px 5px rgba($star, 0.6);
}

.ball1 {
  animation: move1 6s infinite alternate ease-in-out, pulse 1s ease-in-out infinite alternate;

}

.ball2 {
  animation: move2 7s infinite alternate ease-in-out, pulse 1s ease-in-out infinite alternate;
}

.ball3 {
  animation: move3 5s infinite alternate ease-in-out, pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 5px rgba($star, 0.6);
  }
  100% {
    box-shadow: 0 0 10px 10px rgba($star, 0.6);
  }
}

@keyframes move1 {
  0% { top: 10%; left: 10%; }
  25% { top: 80%; left: 30%; }
  50% { top: 50%; left: 90%; }
  75% { top: 20%; left: 60%; }
  100% { top: 70%; left: 10%; }
}

@keyframes move2 {
  0% { top: 20%; left: 20%; }
  33% { top: 70%; left: 80%; }
  66% { top: 40%; left: 50%; }
  100% { top: 10%; left: 30%; }
}

@keyframes move3 {
  0% { top: 30%; left: 30%; }
  50% { top: 90%; left: 70%; }
  100% { top: 20%; left: 20%; }
}
