@import 'src/ui-library/styles/colors.module.scss';
@import 'src/ui-library/styles/typography.module.scss';
@import 'src/ui-library/styles/variables.module.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  @media #{$mobile} {
    max-width: 100vw;
  }
}

.animationContainer {
  display: flex;
  padding: 12px;
  @media #{$mobile} {
    flex-direction: column;
    position: relative;
    align-items: center;
  }
}

.title {
  color: $title;
  max-width: 60%;
  margin-bottom: 40px;
  font-size: clamp(75px, 11.3333px + 5.1111vw, 200px);
  text-align: left;
  @include font-neuMontreal-regular();

  @media #{$mobile} {
    font-size: 50px;
    max-width: fit-content;
    z-index: 1;
  }
}

.emptyBlock {
  width: 100%;
  height: clamp(280px, 189.517px + 9.1954vw, 400px) !important;
}

.about {
  display: grid;
  flex: none;
  gap: 12px;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(2, minmax(200px, 1fr)) 1fr;
  grid-template-rows: repeat(1, min-content);
  height: min-content;
  justify-content: start;
  overflow: visible;
  padding: 12px;
  position: relative;
  width: 100%;

  @media #{$mobile} {
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: repeat(1, min-content);
  }
}

.child {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 5px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.place {
  justify-self: end;
  @media #{$mobile} {
    justify-self: start;
  }
}
