$shadow: rgb(31, 30, 30);
$black: rgba(0, 0, 0, 0.50);
$text: rgba(13, 10, 11);

$link-hover: rgba(155, 152, 152, 0.9);

$disabled: rgba(155, 152, 152, 0.1);
$title: rgba(37, 37, 37);
$error:  #ef4444;

$white-background: rgba(255, 255, 255, 0.9);

$caret-color: rgba(255, 143, 171, 0.6);

$backgroundGrin: rgba(65, 222, 157, 0.29);

$element-border:  rgb(116, 198, 157);
$element-focus: rgba(64, 145, 108, 0.5);
$label-text: #374151;


$star: rgba(255, 143, 171);
