@import 'src/ui-library/styles/colors.module.scss';
@import 'src/ui-library/styles/typography.module.scss';

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.futter {
  min-height: 400px;
  min-width: 400px;
  border-radius: 100px;
  background-color: $caret-color;
  opacity: 0.3;
  position: absolute;
}

.futterRot {
  rotate: 20deg;
  background-color: $backgroundGrin;
  opacity: 0.6;
}

.from {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  min-width: 320px;
  box-shadow: 0 0 4px 3px rgba($shadow, 0.2);
  padding: 24px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  caret-color: $caret-color;
}

.from::after {
  background: $white-background;
  bottom: 0;
  content: '';
  filter: blur(1px);
  border-radius: 15px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  @include font-neuMontreal-regular();
}
