.wrap {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.languageToggler {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}
