@import 'src/ui-library/styles/variables.module.scss';
@import 'src/ui-library/styles/colors.module.scss';

.container {
  padding: 12px;
}

.imagesContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1, min-content);
  gap: 12px;
  height: min-content;
  justify-content: start;
  width: 100%;

  @media #{$mobile} {
    grid-template-columns: 1fr;
  }
}

.gridContainer img {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

.emptyBlock {
  width: 100%;
  height: clamp(160px, 114.023px + 12.2605vw, 220px) !important;
}
