@import 'src/ui-library/styles/colors.module.scss';
@import 'src/ui-library/styles/variables.module.scss';
@import 'src/ui-library/styles/typography.module.scss';

.container {
  display: grid;
  flex: none;
  gap: 12px;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(3, minmax(1px, 1fr));
  grid-template-rows: repeat(1, min-content);
  height: min-content;
  justify-content: start;
  overflow: visible;
  padding: 12px;
  position: relative;
  width: 100%;

  @media #{$mobile} {
    grid-template-columns: repeat(2, minmax(1px, 1fr));
  }
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media #{$mobile} {
    gap: 20px;
    font-size: 20px;
  }

  a {
    color: $shadow;
  }

  a:hover {
    color: $star;
  }

  a:visited:hover {
    color: $star;
  }

  a:visited {
    color: $shadow;
  }
}

.company {
  justify-self: end;
}

.companyTitle {
  margin-top: 24px;
  text-align: center;
  font-size: clamp(75px, 11.3333px + 5.1111vw, 200px);
  @include font-neuMontreal-regular();


  @media #{$mobile} {
    max-width: fit-content;
    z-index: 1;
    padding: 0 12px;
  }
}
